/* Appliquer les Media Queries pour rendre le SiteWeb responsive pour tout les types d'Ecran*/

@media (max-width: 600px){
    /*Partie Header, Footer et Login pour les rendre responsive*/
    .img1{
        display: none;
    }

    .upper {
        margin-left: 6%;
        margin-top: 0%;
        width: 53.93px;
    }

    .logo {
        width: 70.32px;
        height: 20px;
        margin-left: 41%;
        margin-top: 25px;
    }

    .card1{
        font-family: font1;
        font-weight: 400;
        font-size: 6.31px;
        width: 437.81px;
        height: 55.28px;
        background-color: #242565;
        border-radius: 7.89px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -31.59px;
        box-shadow: 0px 3.95px 19.74px rgba(61, 55, 241, 50%);
        display: flex;
        gap: 21.7px;
        padding-top: 11.85px;
        padding-left: 18.95px;
        color: white;
    }

    .slct{
        width: 120.59px;
        height: 13.48px;
        font-family: font1;
        font-weight: bold;
        font-size: 8.69px;
        padding: 1.57px 64.76px 1.57px 0px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-bottom-width: 0.39px;
        color: white;
        margin-top: 4.34px;
        margin-left: -1.57px;
    }
    
    .slctnw{
        width: 126.59px;
        height: 16.48px;
        font-family: font1;
        font-weight: bold;
        font-size: 8.69px;
        padding: 1.57px 64.76px 1.57px 0px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-bottom-width: 0.39px;
        color: white;
        margin-top: 4.34px;
        margin-left: -1.57px;
    
    }

    .optall{
        width: 69.59px;
        height: 11.18px;
    }

    .login{
        margin-top: 15%;
        margin-left: 45%;
    }

    .pwrtp, .usrnmtp{
        font-size: 12.63px;
        padding: 4px 138.22px 4px 31px;
    }

    .icnpls{
        width: 12px;
        padding-top: 1.4%;
        padding-left: 2%;
    }

    .usrnm, .pswrd{
        font-size: 12.64px;
    }

    .logintp{
        width: 347.5px;
        padding-bottom: 4%;
        height: 100%;
        padding-right: 8%;
    }

    .log3{
        font-size: 12.64px;
    }

    .log5 p{
        font-size: 12.64px;
    }

    .log44{
        padding: 7.9px 50px 7.8px 60px;
        font-size: 12.64px;
        width: 282.35px;
    }

    .editicn{
        width: 52%;
    } 

    .logintp div{
        margin-left: 8%;
        margin-right: 7%;
        margin-bottom: 6%;
    }

    .log6 {
        display: flex;
        column-gap: 0px;
        justify-content: center;
    }

    /*La fin de la Partie Header, Footer et Login pour les rendre responsive*/

    /*Partie About Us pour la rendre responsive*/
    .abt1 ,.abt2{
        display: grid;
        grid-template-columns: 1fr;
    }

    .spkrdiv{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        width: 473.88px;
    }

    .spkrdiv h1{
        font-size: 68px;
    }

    .abt1 h1{
        font-size: 37px;
    }
    .abt2 h1{
        display: none;
    }

    .abt1 p{
        display: none;
    }

    .abt2 img{
        display: none;
    }

    .abt1 img{
        width: 370.4px;
    }

    .abt2 p{
        font-size: 18px;
        width: 73%;
        padding-left: 13%;

    }

    .abt1{
        text-align: center;
    }

    .p9{
        font-size: 24px;
    }
    /*La fin de la Partie About Us pour la rendre responsive*/

    /*Partie Speakers pour la rendre responsive*/
    .spkrsctn{
        margin-left: 14%;
        margin-right: 7%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .divspkr1{
        margin-bottom: -6%;
    }

    .divspkr{
        margin-top: 19%;
        margin-bottom: 17%;
    }
    /*La fin de la Partie Speakers pour la rendre responsive*/

    /*Partie Home pour la rendre responsive*/
    .div2{
        display: grid;
        gap: 6px;
        width: 100%;
        padding-left: 15%;
    }

    .div1{
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
    }

    .div2{
        width: 190px;
    }


    .divhome{
        grid-template-columns: 1fr;
        padding-left: 6%;
        width: auto;
    }

    .btnload {
        display: none;
    }

    .piclink{
        display: none;
    }

    .joinbrands{
        margin-top: 350%;
    }

    .jnp2{
        font-size: 13px;
        width: auto;
    }

    .divblog{
        display: grid;
        grid-template-columns: 1fr;
    }

    .mnftr{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: -24%;
        width: auto;
    }

    .footer{
        margin-top: 167%;
        display: grid;
        grid-template-columns: 1fr;
        height: 59%;
        width: auto;
        padding-left: 40px;
        padding-top: 40px;
    }

    .footer1{
        
        display: grid;
        grid-template-columns: 1fr;
        height: 1200px;
        width: auto;
        padding-left: 40px;
        padding-top: 40px;
    }

    
    .ftr5 {
        display: none;
    }

    .ftr6{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        width: 186px;
        font-size: 14px;
        font-weight: 400;
        margin-top: 19%;
    }

    .sctn2{
        width: 600px;
    }







}